{% extends 'base.html' %}

{% block content %}
    <div>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        {% if returns > 0 %}
    <a class="btn btn-primary" href="{% url 'returncheck' %}" role="button">Returns</a>
            {% else %}
            no returns
    {% endif %}
    </div>

    <div>
        {% for obj in page_obj %} {# обратите внимание я заменил объект #}
            <div>

                {% if obj.author == request.user %}
                    <form method="post" action="{% url 'note-updade' obj.pk %}">
                        {% csrf_token %}
                        <h4> {{ obj.title }}</h4>
                        <h5>Description: {{ obj.text }}</h5>
                        <h6>{{ obj.instock }} In stock</h6>
                        <h6>{{ obj.price }} $</h6>
                        <input class="btn btn-warning" type="submit" value="Update">
                    </form>
                {% endif %}

            </div>
  {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    <div class="position-absolute top-0 end-0">
    CREATE
    <form method="post" action="{% url 'note-create' %}">
        {% csrf_token %}
        {{ create_form }}
        <input type="submit" value="Create">
    </form>
    </div>


{% endblock %}
